body{
    background-color: #433F40;
}

.kerekit{
    border-radius: 10px;
}

p{
    color: white;
}

.kapcs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    color: white;
}

.letolt{
    width: 200px;
}

.gombok{
    padding: 10px;
}