<section id="fooldal" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">

      <div class="col-lg-8">
        <h1><span>Regisztrálj oldalunkra vagy lépj be meglévő fiókodba</span></h1>
      </div>

    </div>
  </div>
</section>

<section class="tartalom" ng-controller="reglogCtrl">
  <div class="container" data-aos="fade-up">
    <div class="row content justify-content-between">
      
      <div class="">
        <div class="">

          <h3 class="text-center">Bejelentkezés</h3>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" ng-model="user.emaillog" placeholder="name@example.com">
            <label  for="floatingInput">E-mail</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" ng-model="user.passwd" placeholder="Jelszó">
            <label  for="floatingPassword">Jelszó</label>
          </div>
          
          <div class="">
            <button class="btn" ng-click="login()">Bejelentkezés</button>
          </div>

        </div>
      </div>

      <div class="">
        <div class="">

          <h3 class="text-center">Regisztráció</h3>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" ng-model="user.name" placeholder="Játékosnév">
            <label  for="floatingInput">Játékosnév</label>
          </div>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingIn" ng-model="user.emailreg" placeholder="name@example.com">
            <label  for="floatingIn">E-mail</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswd1" ng-model="passwd1" placeholder="Jelszó">
            <label  for="floatingPasswd1">Jelszó</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswd2" ng-model="passwd2" placeholder="Jelszó">
            <label  for="floatingPasswd2">Jelszó megerősítése</label>
          </div>  

          <div class="">
            <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
            <label class="regLabel" for="checkbox_id">Elfogadom a felhasználói feltételeket</label>
            <input type="checkbox" name="checkbox" id="checkbox2_id" value="value"> 
            <label class="regLabel" for="checkbox2_id">Feliratkozom a hírlevélre</label>
          </div>

          <div class="">
            <button class="btn" ng-click="regist()">Regisztráció</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>