<section id="fooldal" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">

        <div class="col-lg-8">
        <h1><span>Profiladatok módosítása</span></h1>
        </div>

    </div>
    </div>
</section>

<section class="tartalom">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-5 profmod" ng-controller="felhadminCtrl">
                <h3>Játékosnév:</h3>
                <input type="text" ng-model="felhnev.Nev" class="ms-3 mt-2 mb-3">
                <h3>E-mail:</h3>
                <input type="text" ng-model="felhemail.Email" class="ms-3 mt-2 mb-3">
                <h3 class="pb-3">Jogosultság</h3>
                <button class="btn" ng-click="jog1()">Jogosultság 1</button>
                <button class="btn" ng-click="jog2()">Jogosultság 2</button>
                <br>
                <button class="btn m-3" ng-click="profilmod()">Mentés</button>
            </div>
    
            <div class="col-lg-7 profmod" ng-controller="passmodCtrl">
                <h1>Jelszó módosítás:</h1>
                <br>
                <h3>Jelenlegi jelszó:</h3>
                <input type="text" ng-model="regijelszo" class="ms-3 mt-2 mb-3">
                <h3>Új jelszó:</h3>
                <input type="text" ng-model="ujjelszo" class="ms-3 mt-2 mb-3">
                <h3>Új jelszó mégegyszer:</h3>
                <input type="text" ng-model="ujjelszo2" class="ms-3 mt-2 mb-3">
                <br>
                <button class="btn m-3" ng-click="passmod()">Mentés</button>
            </div>
        </div>
    </div>
</section>