<section id="fooldal" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">

        <div class="col-lg-8">
        <h1><span>Profiladataim módosítása</span></h1>
        </div>

    </div>
    </div>
</section>

<section class="tartalom">
    <div class="container" data-aos="fade-up">
        <div class="profmod" ng-controller="profilemodCtrl">
            <h2>Játékosnév:</h2>
            <input type="text" ng-model="ujnev.Nev" class="ms-3 mt-2 mb-3">
            <input type="text" ng-controller="felhadminCtrl" ng-model="felhnev.Nev" ng-if="felh == true" class="ms-3 mt-2 mb-3">
            <h2>E-mail:</h2>
            <input type="text" ng-model="ujemail.Email" class="ms-3 mt-2 mb-3">
            <input type="text" ng-controller="felhadminCtrl" ng-model="felhemail.Email" ng-if="felh == true" class="ms-3 mt-2 mb-3">
            <div ng-if="jogosultsag==2">
                <h2>Jogosultság</h2>
                <button ng-click="jog1()">Jogosultság 1</button>
                <button ng-click="jog2()">Jogosultság 2</button>
            </div>
            <br>
            <button class="btn m-3" ng-click="profilmod()">Mentés</button>
        </div>
        <div class="col-lg-7 profmod" ng-controller="passmodCtrl">
            <h1>Jelszó módosítás:</h1>
            <br>
            <h2>Jelenlegi jelszó:</h2>
            <input type="text" ng-model="regijelszo" class="ms-3 mt-2 mb-3">
            <h2>Új jelszó:</h2>
            <input type="text" ng-model="ujjelszo" class="ms-3 mt-2 mb-3">
            <h2>Új jelszó mégegyszer:</h2>
            <input type="text" ng-model="ujjelszo2" class="ms-3 mt-2 mb-3">
            <br>
            <button class="btn m-3" ng-click="passmod()">Mentés</button>
        </div>
    </div>
</section>