:root{
  --hover: rgb(202, 26, 26);
  --alapszin: red;
  --betuszin: #fff;
  --bordertop: #37332a;
  --borderbottom: #28251f;
  
  /*fejléc*/
  --header: rgba(12, 11, 9, 0.6);
  --bejelentkezesbtn: rgb(150, 3, 3);
  --mobilelegordulo: #3b2d13;
  --mobilebetuszin: #1a1814;
  
  /*tartalom*/
  --letoltobtn: red;
  --letoltobtnhover: rgb(150, 3, 3);
  --kereses: red;
  --tablahover: #37332a;
  --rolunk: red;
  --bej: black;
  --bejhover: rgb(150, 3, 3);


  /*footer*/
  --footer: black;
  --footertop: #0c0b09;

  /*scrollbar*/
  --scrollbar: rgb(94, 15, 15);
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #0c0b09;
  color: var(--betuszin);
}

a {
  color: var(--alapszin);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

textarea {
  resize: none;
  outline: none;
}



/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}



/*--------------------------------------------------------------
# Animáció törlése telefonnál
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}



/*--------------------------------------------------------------
# Fejléc
--------------------------------------------------------------*/
#header {
  background: var(--header);
  border-bottom: 1px solid var(--header);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid var(--bordertop);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}



/*--------------------------------------------------------------
# Bejelentkezés gomb
--------------------------------------------------------------*/
.book-a-table-btn {
  margin: 0 0 0 15px;
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  border-radius: 50px;
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.book-a-table-btn:hover {
  background: var(--bejelentkezesbtn);
  color: var(--betuszin);
}

@media (max-width: 992px) {
  .book-a-table-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}



/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
/*
Számítógép nézet
*/
.navbar{
  padding: 0px;
}

.navbars {
  padding: 0;
}

.navbars ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbars li {
  position: relative;
}

.navbars a, .navbars a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: var(--betuszin);
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.navbars a i, .navbars a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbars a:hover, .navbars li:hover > a {
  color: var(--hover);
}

.navbars .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--betuszin);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbars .dropdown ul li {
  min-width: 200px;
}

.navbars .dropdown ul a {
  padding: 10px 20px;
  color: #444444;
}

.navbars .dropdown ul a i {
  font-size: 12px;
}

.navbars .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbars .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbars .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.dropdowns{
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--alapszin);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bejhover);
}

.dropdowns:hover .dropdown-content {
  display: block;
  right: 1px;
  padding: 10px 5px;
}


@media (max-width: 1366px) {
  .navbars .dropdown .dropdown ul {
    left: -90%;
  }
  .navbars .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/*
Telefon nézet
*/
.mobile-nav-toggle {
  color: var(--betuszin);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbars ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 29px;
  right: 14px;
}

/*legördülőmenü*/
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: var(--mobilelegordulo);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--mobilebetuszin);
}

.navbar-mobile a:hover, .navbar-mobile li:hover > a {
  color: var(--alapszin);
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--betuszin);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}



/*--------------------------------------------------------------
# Főoldal
--------------------------------------------------------------*/
#fooldal {
  width: 100%;
  height: 100vh;
  background: url("../video/escape2.jpeg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#fooldal:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#fooldal .container {
  padding-top: 110px;
}

@media (max-width: 992px) {
  #fooldal .container {
    padding-top: 98px;
  }
}

#fooldal h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--betuszin);
  font-family: "Poppins", sans-serif;
}

#fooldal h1 span {
  color: var(--alapszin);
}

@media (min-width: 1024px) {
  #fooldal {
    background-attachment: fixed;
  }
}

@media (max-height: 500px) {
  #fooldal {
    height: auto;
  }
  #fooldal .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  #fooldal h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #fooldal h2 {
    font-size: 18px;
    line-height: 24px;
  }
}



/*--------------------------------------------------------------
# Tartalom
--------------------------------------------------------------*/
.tartalom {
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

@media (min-width: 1024px) {
  .tartalom {
    background-attachment: fixed;
  }
}


/* Ismertető, hírek oldal*/
.flex{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex > div{
  flex: 1 1 200px;
  margin: 10px;
}

.flex h3{
  border-bottom: 2px solid var(--alapszin);
  padding-bottom: 10px;
  margin: 0 0 30px 0;
}


/* Letöltés oldal */
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: 200px 200px;
}

.grid-item1{
  grid-column: 1 / 3;
}

.grid-item2{
  grid-column: 1 / 2;
}

.grid-item3{
  grid-column: 2 / 2;
}

.letoltwin{
  margin: 0 0 0 15px;
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 25%;
}

.letolt{
  margin: 0 0 0 15px;
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 50%;
}

.letolt:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.letolt:focus{
  box-shadow: none;
}

.letoltwin:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.letoltwin:focus{
  box-shadow: none;
}

@media (max-width: 750px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-rows: 200px 200px;
  }
  
  .grid-item1{
    grid-column: 1 / 3;
  }
  
  .grid-item2{
    grid-column: 1 / 3;
  }
  
  .grid-item3{
    grid-column: 1 / 3;
  }

  .letoltwin{
    margin: 0 0 0 15px;
    border: 2px solid var(--alapszin);
    color: var(--betuszin);
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    width: 50%;
  }
  
  .letolt{
    margin: 0 0 0 15px;
    border: 2px solid var(--alapszin);
    color: var(--betuszin);
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    width: 50%;
  }
}


/* Statisztika oldal */
.kereses{
  width: 40%;
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
  color: var(--betuszin);
  margin: 0 0 40px 0;
}

.kereses::placeholder {
  color: var(--betuszin);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.kereses:hover {
  padding: 12px 24px;
  background-color: var(--tablahover);
  border-radius: 5px;
}

.kereses:focus {
  border-radius: 5px;
  outline: 0;
  color: var(--betuszin);
  background-color: var(--tablahover);
  padding: 12px 0;
}

.tablazat{
  color: var(--betuszin);
  border-bottom: red;
}

tbody tr:hover{
  background-color: var(--tablahover);
}

.lepkedos a{
  color: var(--betuszin);
  background-color: transparent;
  border: 0px solid transparent;
}

.lepkedos a:hover{
  background-color: transparent;
  color: var(--kereses);
}

@media (max-width: 420px) {
  .kereses{
    padding: 12px 0;
  }
}


/* Hírek oldal */
.hirekgrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto auto;
}

.hirekgrid-item1{
  grid-column: 1 / 2;
}

.hirekgrid-item2{
  grid-column: 2 / 2;
}

.hirekgrid-item3{
  grid-column: 1 / 3;
}

.hirekgrid h3{
  border-bottom: 2px solid var(--alapszin);
  padding-bottom: 10px;
  margin: 0 0 30px 0;
}

@media (max-width: 780px) {
  .hirekgrid-item1{
    grid-column: 1 / 3;
  }
  
  .hirekgrid-item2{
    grid-column: 1 / 3;
  }
  
  .hirekgrid-item3{
    grid-column: 1 / 3;
  }
}


/* Rólunk oldal */
.rolunkdiv h3{
  margin: 0 0 30px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--rolunk);
}


/* GYIK oldal */
.kapcsolatok{
  display: flex;
  justify-content: center;
}

.kapcsolatok p:first-child{
  margin-right: 3%;
}

.kapcsolatok p{
  margin: 0;
}

.kapcsszoveg{
  border-bottom: 2px solid var(--alapszin);
  padding-bottom: 10px;
  margin: 0 0 30px 0;
}

.szoveg{
  margin-bottom: 40px;
}


/* Fórum oldal */
.temafel{
  background-color: #28251f;
  margin: 0 0 20px 0;
}

.temafel input{
  width: 40%;
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
  color: var(--betuszin);
}

.temafel input::placeholder{
  color: var(--betuszin);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.temafel input:hover {
  padding: 12px 24px;
  background-color: var(--tablahover);
  border-radius: 5px;
}

.temafel input:focus {
  border-radius: 5px;
  outline: 0;
  color: var(--betuszin);
  background-color: var(--tablahover);
  padding: 12px 0;
}

@media (max-width: 420px) {
  .temafel input{
    width: 70%;
    padding: 12px 0;
  }
}

.uzenet{
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.uzenet textarea{
  width: 70%;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid var(--kereses);
  color: var(--betuszin);
}

.uzenet textarea::placeholder{
  color: var(--betuszin);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.uzenet textarea:hover {
  background-color: var(--borderbottom);
}

.uzenet textarea:focus {
  background-color: var(--borderbottom);
  border-color: var(--alapszin);
  box-shadow: none;
  color: var(--betuszin);
}

.uzenetgomb{
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.uzenetgomb button{
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 20%;
}

.uzenetgomb button:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.uzenetgomb button:focus{
  box-shadow: none;
}


/* Belépés oldal */
.bej{
  background-color: rgb(207, 0, 0);
  border-radius: 5px;
}

.bej label{
  color: var(--betuszin);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.bej button{
  border: 2px solid black;
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.bej button:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.bej button:focus{
  box-shadow: none;
}

.bej input{
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid black;
}

.bej input:hover {
  padding: 12px 24px;
  background-color: var(--bejhover);
  border-radius: 5px;
}

.bej input:focus {
  padding: 12px 24px;
  border-radius: 5px;
  color: var(--betuszin);
  box-shadow: none;
  background-color: var(--bejhover);
  border: 2px solid transparent;
  border-bottom: 1px solid black;
}

.reg label{
  color: var(--betuszin);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.reg button{
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.reg button:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.reg button:focus{
  box-shadow: none;
}

.reg input{
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
}

.reg input:hover {
  padding: 12px 24px;
  background-color: var(--tablahover);
  border-radius: 5px;
}

.reg input:focus {
  padding: 12px 24px;
  border-radius: 5px;
  color: var(--betuszin);
  box-shadow: none;
  background-color: var(--tablahover);
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
}

/* Profile módosítás oldal */
.profmod h2{
  font-size: 40px;
}

.profmod button{
  border: 2px solid var(--alapszin);
  color: var(--betuszin);
  padding: 8px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.profmod button:hover{
  background: var(--letoltobtnhover);
  color: var(--betuszin);
}

.profmod button:focus{
  box-shadow: none;
}

.profmod input{
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
  width: 45%;
  color: var(--betuszin);
}

.profmod input:hover {
  padding: 12px 24px;
  background-color: var(--tablahover);
  border-radius: 5px;
}

.profmod input:focus {
  padding: 12px 24px;
  border-radius: 5px;
  color: var(--betuszin);
  box-shadow: none;
  background-color: var(--tablahover);
  border: 2px solid transparent;
  border-bottom: 1px solid var(--kereses);
  color: var(--betuszin);
}

@media (max-width:991px) {
  .profmod input{
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 1px solid var(--kereses);
    width: 70%;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--footer);
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: var(--footertop);
  border-top: 1px solid var(--bordertop);
  border-bottom: 1px solid var(--borderbottom);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: var(--betuszin);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--borderbottom);
  color: var(--betuszin);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--alapszin);
  color: var(--betuszin);
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--betuszin);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--alapszin);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--betuszin);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--alapszin);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}